body{
    margin: 0;
    background-image: url("WebsiteBackground.png");
    background-size: cover;
}

#header{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 275px;
    background-image: url("HeaderBackground.png");
}

#header-h1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    color: black;
    font-family: "Heebo";
    font-weight: 400;
    height: 190px;
    width: 80%;
    font-family: Georgia;
    background-image: url("WebsiteBackground.png");
    opacity: 1;
    border-radius: 75%;
    border: 2.25px solid black;
    justify-content: center;
}

#fernandina{
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 48px;
    font-family: Cinzel;
    font-weight: 600;
    margin-top: -20px;
    animation: slide-left 2.6s;
    animation-fill-mode: forwards;
}

hr{
    width: 99.7%;
    margin-top: 5px;
    border: 1px solid red;
}

#growing{
    display: flex;
        margin: auto;
        font-size: 28px;
        font-family: Cinzel;
        font-weight: 600;
        letter-spacing: 1.9px;
        justify-content: center;
        animation: slide-right 2.6s;
        animation-fill-mode: forwards;
}

@keyframes slide-left {
    0% {
        transform: translate(-30px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0%{
        transform: translate(30px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

#navbar{
    height: 40px;
    color: black;
    font-family: Heebo;
    display: flex;
    margin: 0;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    animation: opacity 6s;
}

.aNav{
    margin: 50px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.aNav:hover{
    color: black;
    background-color: white;
}

#intro-section{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    height: 600px;
}

#intro-pic{
    display: flex;
    margin: auto;
    margin-right: 300px;
    border: 2px solid black;
}

#intro-paragraph{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: center;
    font-family: Heebo;
    font-size: 24px;
    margin-left: 200px;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#carousel-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    height: 700px;
}

#carousel-wrapper{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

#carousel{
    width: 500px;
    height: cover;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 30px;
}

#carousel-image{
    border-radius: 25px;
}

#carousel-caption{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Heebo;
    font-size: 18px;
    flex-direction: column;
}

#carousel-review-div{
    display: flex;
    height: cover;
    width: 425px;
    padding-left: 70px;
    padding-right: 70px;
    margin: auto;
    text-align: right;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
    font-family: Heebo;
    border-radius: 5px;
}

#carousel-review{
    font-size: 22px;
}

#carousel-name{
    font-size: 18px;
}

#about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    margin: auto;
    flex-wrap: wrap;
}

#about-image{
    height: cover;
    width: 182px;
    display: flex;
    margin: auto;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 350px;
}

#about-info{
    display: flex;
    margin: auto;
    font-family: Heebo;
    font-size: 26px;
    flex-direction: column;
    margin-right: 300px;
}

#buy-section{
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#buyH3{
    font-family: Cinzel;
    font-weight: 400;
    margin: auto;
    font-size: 48px;
}

#facebook-link{
    font-family: Heebo;
    font-size: 28px;
    margin: auto;
}

#amazon-link{
    font-family: Heebo;
    font-size: 28px;
    margin: auto;
}

#facebook-link:hover{
    background-color: white;
    padding: 10px;
}

#amazon-link:hover{
    background-color: white;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
#header {
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: center;
        position: relative;
        align-items: center;
        height: 275px;
        background-image: url("HeaderBackground.png");
    }

    #header-h1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        color: black;
        font-family: "Heebo";
        font-weight: 400;
        height: 190px;
        width: 80%;
        font-family: Georgia;
        background-image: url("WebsiteBackground.png");
        opacity: 1;
        border-radius: 75%;
        border: 2.25px solid black;
        justify-content: center;
    }

    #fernandina {
        display: flex;
        margin: auto;
        justify-content: center;
        font-size: 48px;
        font-family: Cinzel;
        font-weight: 600;
        margin-top: -20px;
        animation: slide-left 2.6s;
        animation-fill-mode: forwards;
    }

    hr {
        width: 99.7%;
        margin-top: 5px;
        border: 1px solid red;
    }

    #growing {
        display: flex;
        margin: auto;
        font-size: 28px;
        font-family: Cinzel;
        font-weight: 600;
        letter-spacing: 1.9px;
        justify-content: center;
        animation: slide-right 2.6s;
        animation-fill-mode: forwards;
    }

    @keyframes slide-left {
        0% {
            transform: translate(-30px, 0);
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes slide-right {
        0% {
            transform: translate(30px, 0);
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    #navbar {
        height: 40px;
        color: black;
        font-family: Heebo;
        display: flex;
        margin: 0;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        animation: opacity 6s;
    }

    #waves-icon{
        width: 55px;
        margin: auto;
        display: flex;
        height: cover;
        border: 1px solid black;
        justify-content: flex-end;
    }

  .aNav{
        margin: 50px;
        text-decoration: none;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        display: none;
    }
    .aNav:hover{
        color: black;
        background-color: white;
        display: none;
    }

    #intro-section {
        width: 95%;
        display: flex;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        height: 600px;
    }

    #intro-pic {
        display: flex;
        margin: auto;
        border: 2px solid black;
    }

    #intro-paragraph {
        display: flex;
        text-align: right;
        flex-direction: column;
        margin: auto;
        align-items: center;
        font-family: Heebo;
        font-size: 24px;
    }

    @keyframes opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #carousel-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        height: 700px;
    }

    #carousel-wrapper {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column;
    }

    #carousel {
        width: 500px;
        height: cover;
        display: flex;
        border: 1px solid black;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        border-radius: 30px;
    }

    #carousel-image {
        border-radius: 25px;
    }

    #carousel-caption {
        display: flex;
        justify-content: center;
        margin: auto;
        font-family: Heebo;
        font-size: 18px;
        flex-direction: column;
    }

    #carousel-review-div {
        display: flex;
        height: cover;
        width: 425px;
        margin: auto;
        text-align: center;
        border: 1px solid black;
        align-items: center;
        flex-direction: column;
        font-family: Heebo;
        border-radius: 5px;
    }

    #carousel-review {
        font-size: 22px;
    }

    #carousel-name {
        font-size: 18px;
    }

    #about-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 500px;
        flex-wrap: wrap;
        margin: auto;
    }

    #about-image {
        height: cover;
        width: 182px;
        display: flex;
        margin: auto;
        border-radius: 20px;
        border: 1px solid black;
    }

    #about-info {
        display: flex;
        margin: auto;
        font-family: Heebo;
        font-size: 26px;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 45px;
    }

    #buy-section {
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 100px;
    }

    #buyH3 {
        font-family: Cinzel;
        font-weight: 400;
        margin: auto;
        font-size: 48px;
    }

    #facebook-link {
        font-family: Heebo;
        font-size: 28px;
        margin: auto;
    }

    #amazon-link {
        font-family: Heebo;
        font-size: 28px;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    #header {
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: center;
            position: relative;
            align-items: center;
            height: 275px;
            background-image: url("HeaderBackground.png");
        }
    
        #header-h1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: auto;
            color: black;
            font-family: "Heebo";
            font-weight: 400;
            height: 190px;
            width: 80%;
            font-family: Georgia;
            background-image: url("WebsiteBackground.png");
            opacity: 1;
            border-radius: 75%;
            border: 2.25px solid black;
            justify-content: center;
        }
    
        #fernandina {
            display: flex;
            margin: auto;
            justify-content: center;
            font-size: 28px;
            font-family: Cinzel;
            font-weight: 600;
            margin-top: -20px;
            animation: slide-left 2.6s;
            animation-fill-mode: forwards;
        }
    
        hr {
            width: 99.7%;
            margin-top: 5px;
            border: 1px solid red;
        }
    
        #growing {
            display: flex;
            margin: auto;
            font-size: 17px;
            font-family: Cinzel;
            font-weight: 600;
            letter-spacing: 1.9px;
            justify-content: center;
            animation: slide-right 2.6s;
            animation-fill-mode: forwards;
        }
    
        @keyframes slide-left {
            0% {
                transform: translate(-30px, 0);
                opacity: 0;
            }
    
            100% {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    
        @keyframes slide-right {
            0% {
                transform: translate(30px, 0);
                opacity: 0;
            }
    
            100% {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    
        #navbar {
            height: 40px;
            color: black;
            font-family: Heebo;
            display: flex;
            margin: 0;
            font-size: 24px;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid black;
            animation: opacity 6s;
        }
    
        .aNav{
            text-decoration: none;
            color: black;
            display: none;
        }
    
        .aNav:hover{
            color: black;
            background-color: white;
            display: none;
        }
}